<div class="contact-form-wrap" id="form-wrap">
	<form class="contact-form" id="contact-form">
		<button class="close-btn form-toggle">
			<span class="foo">&#10005;</span>
		</button>

		<h2>CONTACT</h2>

		<div>
			<input name="name" placeholder="Name" value="Rory Geisow" />
			<input name="date" placeholder="Date" value="01/01/2020" />
		</div>

		<div>
			<input name="type" placeholder="Event Type" value="Wedding" />
			<input name="location" placeholder="Event Location" value="Portishead" />
		</div>

		<div>
			<input name="email" type="email" placeholder="Email Address" value="jackwldavies@icloud.com" />
			<input name="phone" type="number" placeholder="Phone Number" value="07914287694" />
		</div>

		<textarea name="message" placeholder="Your Message" resizable="false">I want a band.</textarea>

		<button type="submit">SEND</button>
	</form>
</div>
