<footer>
	<a href="/#about">About</a>
	<a href="/#bands">Bands</a>
	<span>Figs & Limes || 2018</span>
	<a href="/#faq">FAQ</a>
	<a href="mailto:figslimes@gmail.com" class="form-toggle">Contact</a>
</footer>
