<div class="mobile-menu hide" id="mobile-menu">
  {{>mobileBtnClose}}

  <a href="/#about" class="mobile-link">About</a>
	<a href="/#bands" class="mobile-link">Bands</a>
	<a href="/#faq" class="mobile-link">FAQ</a>
	<!-- <a class="form-toggle mobile-link">Contact</a> -->
	<a href="mailto:figsandlimes@gmail.com">Contact</a>
</div>
