@font-face {
	font-family: Simplifica;
	src: url("../fonts/Simplifica.ttf");
}

@font-face {
	font-family: Dense;
	src: url("../fonts/Dense.otf");
}

@font-face {
	font-family: Gidole;
	src: url("../fonts/Gidole.otf");
}

@font-face {
	font-family: DinB;
	src: url("../fonts/DinConB.otf");
}

@font-face {
	font-family: DinM;
	src: url("../fonts/DinConM.otf");
}

@font-face {
	font-family: DinR;
	src: url("../fonts/DinConR.otf");
}

@font-face {
	font-family: DinL;
	src: url("../fonts/DinConL.otf");
}
