@font-face {
  font-family: DinCB;
  src: url('../fonts/DinConBold.otf');
}

@font-face {
  font-family: DinCM;
  src: url('../fonts/DinConMedium.otf');
}

@font-face {
  font-family: DinCR;
  src: url('../fonts/DinConRegular.otf');
}

@font-face {
  font-family: DinCL;
  src: url('../fonts/DinConLight.otf');
}

@font-face {
  font-family: DinB;
  src: url('../fonts/DinBold.otf');
}

@font-face {
  font-family: DinM;
  src: url('../fonts/DinMedium.otf');
}

@font-face {
  font-family: DinR;
  src: url('../fonts/DinRegular.otf');
}

@font-face {
  font-family: DinL;
  src: url('../fonts/DinLight.otf');
}
