@font-face {
	font-family: Simplifica;
	src: url("../fonts/simplifica.ttf");
}

@font-face {
	font-family: Dense;
	src: url("../fonts/dense.otf");
}

@font-face {
	font-family: Gidole;
	src: url("../fonts/gidole.otf");
}

@font-face {
	font-family: Din;
	src: url("../fonts/dinCondensed.otf");
}
