// SIZING

$section-spacing: 10rem;
$sidebar: 15vw;
$section-border-radius: 2rem;
$panel-color: #ddd;
$landing-shadow: 0 0 2rem 0.1rem black;
$panel-shadow: 0 5px 10px -5px black;
$break: 768px;

// MIXINS

@mixin flex() {
  display: flex;
  justify-content: center;
  align-items: center;
}

a,
div,
footer,
label,
nav,
section,
span {
  @include flex();
}

@mixin textPanel() {
  flex-direction: column;
  align-items: flex-start;

  max-width: 100rem;
  margin: $section-spacing;
  padding: 2.5rem;

  font: 1.7rem 'Roboto', sans-serif;
  color: black;

  @media (max-width: $break) {
    margin: 6rem 3rem;
  }
}
