// SIZING

$section-spacing: 10rem;
$sidebar: 15vw;
$section-border-radius: 2rem;
$panel-color: #ddd;
$landing-shadow: 0 0 2rem .1rem black;
$panel-shadow: 0 5px 10px -5px black;

// MIXINS

@mixin flex() {
  display: flex;
  justify-content: center;
  align-items: center;
}

a, div, nav, section, span {
  @include flex();
}

@mixin textPanel() {
	flex-direction: column;
	align-items: flex-start;

	max-width: 100rem;
	margin: $section-spacing;
	padding: 2.5rem;

	font: 2.3rem DinCR;
	color: black;
}
