// SIZING

$section-spacing: 10rem;
$sidebar: 30rem;

// MIXINS

@mixin flex() {
  display: flex;
  justify-content: center;
  align-items: center;
}

a, div, nav, section, span {
  @include flex();
}

@mixin textPanel() {
	flex-direction: column;
	align-items: flex-start;
	max-width: 100rem;
	margin: $section-spacing;
	padding: 2rem;
	border: 1.5rem solid black;
	font: 2rem DinCM;
	box-shadow: 0 .5rem 1rem -.5rem black;
}
