<section class="band-page">
	<div class="band-landing" style="background-image: url('/pics/bands/{{band.landing}}.jpg')">
		<h1>{{band.name}}</h1>
	</div>

	<p>Blurb blurb blurb blurb.</p>
	<div>PHOTO</div>
	<button>Book Us</button>
</section>
