<a href="#" class="top-btn shrink" id="top-btn">
	<i class="material-icons">arrow_upward</i>
</a>

<!-- LANDING -->
<section class="sctn-landing">
	<div class="landing-text">
		<h1>Figs &amp; Limes</h1>
    <span>Band Agency</span>
		<nav>
			<a href="#about">About</a>
			<a href="#bands">Bands</a>
			<a href="#faq">FAQ</a>
			<a>Contact</a>
		</nav>
	</div>
</section>

<!-- ABOUT -->
<section class="sctn-about" id="about">
	<div class="about-text">
		<p>Figs and Limes aims to provide you with great live music at your event.</p>
		<ul>
			<li>We hand pick a selection of bands who we've seen consistently deliver excellent entertainment.</li>
			<li>We respond personally to each enquiry and booking request.</li>
			<li>We offer a better deal to our bands in order to attract the best.</li>
		</ul>
		<p>We're based in Bristol (because it's great) but our acts are available worldwide.</p>
		<p>Why are we called Figs and Limes? Hand-picked bands like hand-picked fruit. And 'Prestige Worldwide' was already taken.</p>
	</div>
</section>

<!-- BANDS -->
<section class="sctn-bands" id="bands">
	<div class="bands-wrap">
		{{#each bands}}
			{{>bandTile}}
		{{/each}}
	</div>
</section>

<!-- FAQ -->
<section class="sctn-faq" id="faq">
	<div class="faq-text">
		{{#each faqs}}
			<div>
				<h3>{{q}}</h3>
				<p>{{a}}</p>
			</div>
		{{/each}}
	</div>
</section>
