@font-face {
  font-family: DinCB;
  src: url("../fonts/DinConBold.otf"); }

@font-face {
  font-family: DinCM;
  src: url("../fonts/DinConMedium.otf"); }

@font-face {
  font-family: DinCR;
  src: url("../fonts/DinConRegular.otf"); }

@font-face {
  font-family: DinCL;
  src: url("../fonts/DinConLight.otf"); }

@font-face {
  font-family: DinB;
  src: url("../fonts/DinBold.otf"); }

@font-face {
  font-family: DinM;
  src: url("../fonts/DinMedium.otf"); }

@font-face {
  font-family: DinR;
  src: url("../fonts/DinRegular.otf"); }

@font-face {
  font-family: DinL;
  src: url("../fonts/DinLight.otf"); }

a, div, nav, section, span {
  display: flex;
  justify-content: center;
  align-items: center; }

html {
  font-size: 62.5%; }

body, button, div, h1, h3, nav, p, ul {
  border: 0;
  margin: 0;
  padding: 0;
  border-radius: 0;
  box-sizing: border-box; }

a:hover, button:hover {
  cursor: pointer; }

button:focus {
  outline: none; }

a {
  text-decoration: none; }

button {
  background-color: transparent; }

body {
  background-color: #ddd; }

.top-btn {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 5rem;
  height: 5rem;
  margin: 2rem;
  border-radius: .4rem;
  color: white;
  background-color: black;
  transition: .15s; }
  .top-btn i {
    font-size: 3rem; }
  .top-btn:hover {
    transform: scale(1.1); }

.shrink {
  transform: scale(0); }

.sctn-landing {
  position: relative;
  flex-direction: column;
  height: 100vh;
  font: 10rem Simplifica;
  background-image: url("/pics/landing.jpg");
  background-size: cover;
  background-position: center; }

.landing-text {
  flex-direction: column;
  position: absolute;
  left: 0;
  bottom: 0;
  margin: 4vw;
  padding: 3rem 4rem; }
  .landing-text h1 {
    position: relative;
    color: white;
    font: 15rem DinCB;
    text-transform: uppercase; }
  .landing-text span {
    align-self: flex-end;
    margin-top: -2rem;
    color: white;
    font: 4rem DinCB;
    text-transform: uppercase; }
  .landing-text nav {
    margin-top: 3rem;
    width: 100%; }
    .landing-text nav a {
      flex-grow: 1;
      flex-basis: 0;
      padding: .6rem 0;
      border: .3rem solid white;
      font: 3rem DinCR;
      text-transform: uppercase;
      color: white; }
      .landing-text nav a:not(:last-child) {
        margin-right: 2rem; }
      .landing-text nav a:hover {
        background-color: rgba(255, 255, 255, 0.15); }

.sctn-about {
  margin-left: 30rem;
  background-color: white; }

.about-text {
  flex-direction: column;
  align-items: flex-start;
  max-width: 100rem;
  margin: 10rem;
  padding: 2rem;
  border: 1.5rem solid black;
  font: 2rem DinCM;
  box-shadow: 0 .5rem 1rem -.5rem black; }
  .about-text ul {
    width: 100%;
    padding-left: 2rem; }
  .about-text ul, .about-text p:not(:last-child) {
    margin-bottom: 2rem; }

.bands-wrap {
  margin: 10rem 0; }
  .bands-wrap a {
    width: 20rem;
    height: 20rem;
    color: black;
    background-color: #eee;
    font: 2rem Gidole;
    box-shadow: 0 5px 10px -5px black; }
    .bands-wrap a:not(:last-child) {
      margin-right: 2rem; }

.sctn-faq {
  margin-right: 30rem;
  background-color: white; }

.faq-text {
  flex-direction: column;
  align-items: flex-start;
  max-width: 100rem;
  margin: 10rem;
  padding: 2rem;
  border: 1.5rem solid black;
  font: 2rem DinCM;
  box-shadow: 0 .5rem 1rem -.5rem black; }
  .faq-text div {
    flex-direction: column;
    align-items: flex-start; }
    .faq-text div h3 {
      font: 2.5rem DinCB;
      margin-bottom: .5rem; }
    .faq-text div p {
      margin-left: 2rem; }
    .faq-text div:not(:last-child) {
      margin-bottom: 2rem; }

.band-page {
  flex-direction: column; }
  .band-page div {
    background-image: url("../pics/redWeb.jpg");
    background-size: cover;
    width: 100vw;
    height: 100vh; }
