.sctn-about {
  margin-left: $sidebar;
  background-color: $panel-color;
	border-bottom-left-radius: $section-border-radius;
}

.about-text {
	@include textPanel;

	ul {
		width: 100%;
		padding-left: 2rem;
	}

	ul, p:not(:last-child) {
		margin-bottom: 2rem;
	}
}
