.sctn-about {
  margin-left: $sidebar;
  background-color: $panel-color;
  border-top-left-radius: $section-border-radius;
  border-bottom-left-radius: $section-border-radius;

  @media (max-width: $break1) {
    margin: 0;
    border-radius: 0;
  }
}

.about-text {
  @include textPanel;
  max-width: 65rem;

  ul {
    width: 100%;
    padding-left: 2rem;
  }

  ul,
  p:not(:last-child) {
    margin-bottom: 2rem;
  }
}
