$tileHeight: 22rem;

.sctn-bands {
	flex-direction: column;

	h2 {
		color: white;
		margin-top: $section-spacing;
	}
}

.bands-wrap {
	flex-wrap: wrap;
  margin-bottom: $section-spacing;

	a {
		overflow: hidden;
		height: $tileHeight;
		width: $tileHeight * 2.25;
		margin: 2rem;

		border-radius: .4rem;
		color: white;
		background-color: #4a4a4a;
		box-shadow: $panel-shadow;

		.band-thumbImg {
			flex-grow: 1;
			height: 100%;

			background-size: cover;
			background-position: center;
		}

		.band-info {
			flex-direction: column;
			width: $tileHeight;
			transition: .3s;
			padding: 2.5rem;

			span:first-child {
				height: 100%;
				max-width: $tileHeight - 5rem;

				text-align: center;
				font: 3rem DinCM;
				text-transform: uppercase;
			}

			span:last-child {
				margin-top: 1rem;
				font: 2rem DinCL;
			}
		}

		&:hover .band-info {
			width: $tileHeight * 1.25;
			font-size: 3rem;
		}
	}
}
