.sctn-faq {
  margin-right: $sidebar;
  background-color: white;
	border-top-right-radius: $section-border-radius;
}

.faq-text {
	@include textPanel;

	div {
		flex-direction: column;
		align-items: flex-start;

    h3 {
      font: 2.5rem DinCB;
      margin-bottom: .5rem;
    }

		p {
      margin-left: 2rem;
		}

    &:not(:last-child) {
      margin-bottom: 2rem;
    }
	}
}
