footer {
  height: 9rem;

  span,
  a {
    border-radius: 0.6rem;
    font: 3rem DinCB;
    color: white;
    text-transform: uppercase;
  }

  span {
    margin: 0 3rem;

    @media (max-width: 1000px) {
      display: none;
    }
  }

  a {
    width: 13rem;
    margin: 0 1rem;
    padding: 0.5rem 0;
    background-color: #222;
  }

  @media (max-width: $break2) {
    display: none;
  }
}
