.sctn-landing {
	position: relative;
	flex-direction: column;
  height: 100vh;

	font: 10rem Simplifica;
	background-image: url('/pics/landing.jpg');
	background-size: cover;
	background-position: center;
}

.landing-text {
	flex-direction: column;
	position: absolute;
	left: 0;
	bottom: 0;

	margin: 4vw;
	padding: 3rem 4rem;

	h1 {
		position: relative;
		margin: 0 -.75rem;
    color: white;
		font: 15rem DinCB;
    text-transform: uppercase;
	}

  span {
    align-self: flex-end;
    margin-top: -2rem;

    color: white;
    font: 4rem DinCB;
    text-transform: uppercase;
  }

	nav {
		margin-top: 3rem;
		width: 100%;

		a {
			flex-grow: 1;
			flex-basis: 0;

			padding: .6rem 0;
			border: .3rem solid white;

			font: 3rem DinCR;
			text-transform: uppercase;
			color: white;

			&:not(:last-child) {
				margin-right: 2rem;
			}

			&:hover {
				background-color: rgba(255, 255, 255, .15);
			}
		}
	}
}
